ffmpeg==1.4
streamlit==1.15.2
spleeter==2.4.0
librosa==0.10.0.post2
numpy==1.24.4
pyworld==0.3.4
soundfile==0.12.1
scipy==1.11.1
pydub==0.25.1
audioread==2.1.9
setuptools>=58.0.0
tensorflow==2.9.0
wheel
click==7.1.2
typer==0.3.2 
altair==4.2.2
torchaudio
imageio[ffmpeg]